body {
    font-family: 'Inter';
}

.header {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 1210px;
    background-color: rgb(101, 72, 128);
    margin-bottom: 10px;
}

.header-left {
    margin-top: 30px;
    margin-left: 100px;
}
.header-title {
    font-size: 35px;
    font-weight: 500;
}
.header-subtitle {
    opacity: 50%;
    font-size: 20px;
}

.main {
    display: flex;
    flex-direction: row;
}

.dashboard {
    display: flex;
    flex-direction: row;
    height: 900px;   
    width: 1100px; 
    margin-left: 10px;
}

.box {
    border-radius: 50px;
    padding: 15px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    background: linear-gradient(-5deg, #ffffff 0%, #ebebeb 100%);

    box-sizing: border-box;
}

.box-label {
    font-size: 16px;
    font-weight: 300;
    color: #6f6f6f;
    margin-bottom: 14px;
}

.top {
    margin-bottom: 10px;
}

.bottom {
    margin-bottom: 10px;
}

#column1{
    display: flex;
    flex-direction: column;
    width: 550px;
}

#column2 {
    display: flex;
    flex-direction: column;
    width: 482px;

    margin-left: 10px;
}

#clock {
    height: 300px;
}

#main-display {
    height: 250px;
}

#task {
    height: 590px;
}




