.box {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

.top {
    margin-bottom: 10px;
}

.bottom {
    margin-bottom: 10px;
}


#column1{
    width: 550px;
}

#column2 {
    width: 550px;
    margin-left: 10px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    height: 900px;   
    width: 1100px; 
    margin-left: 120px;
}

#clock {
    height: 300px;
}

#calendar {
    height: 450px;
}

#task {
    height: 590px;
}

#remind {
    height: 440px;
}

.sidebar {
    height: 900px;
    width: 100px;
    background-color: blueviolet;
    float: left;
}


