.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: calc(100vh - 150px);
    min-width: 100px;
}

.nav-app {
    margin: 20px;
    cursor: pointer;
    align-self: center;
}

.setting-app {
    align-self: center;
    margin-bottom: 150px;
    margin-top: auto;
}
