.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 900px;
    min-width: 100px;
}

.nav-app {
    margin: 20px;
    cursor: pointer;
    align-self: center;
}
