#tracker {
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.animation {
    position: absolute;
    width: 500px; 
    z-index: 700;
    left: 50%;
    transform: translateX(-50%);
    
}

.freak-walk {
    top: 3%;
}

.freak-run {
    top: 2.5%;
}

.freak-crawl {
    top: 6%;
}

.freak-relax {
    top: -1%;
}

.progress-bar {
    position: relative;
    width: 359px;
    height: 25px;
    box-shadow: inset 2px 3px 6px #CDCFD4;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 10px;
    margin-top: auto;
    z-index: 500;
}

.progression-bar {
    width: 250px;
    height: 25px;
    background: linear-gradient(90deg, #0A87E1 0%, #A8D9FC 100%);
    border-radius: 15px;
    position: absolute;
    z-index: 600;
}


